<h1>online pago</h1>
<ul>
    <li>
      <a routerLink="/home" routerLinkActive="router-link-active">  Home </a>
    </li>
    <li>
      <a routerLink="/contact" routerLinkActive="router-link-active">Contact </a>
    </li>
    <li>
      <a routerLink="/admin" routerLinkActive="router-link-active">Admin </a>
    </li>
    <!-- <li>
      <a routerLink="/users" routerLinkActive="router-link-active">users </a>
  
    </li> -->
  </ul>
<!-- Aquí se cargará el contenido de las rutas hijas como Home y Contact -->
<router-outlet></router-outlet>
